<h1><%= @team.name %></h1>
<h2><%= @team.motto %></h2>

<ul>
<% @super_heroes.each do |superhero| %>
  <p>Super Heroes</p>
  <li><%= superhero.name %></li>
  <li><%= superhero.name %></li>
  <li><%= superhero.name %></li>
<% end %>
</ul>
